.container{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Images/img-1.jpg);
    width: 100%;
    height: 670px;
    background-size: cover;

}
.nav-container{
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70%;
    background-color: black;
    opacity: 75%;
    height: 75px;
    padding: 2%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.first-nav-items{
    width: 80%;
}
.second-nav-items{
    width: 20%;
}
#brand{
    background-color: solid green;
}
.blue-button{
    background-color: rgb(31, 101, 206);
    color: white;
    border: 2px solid rgb(31, 101, 206) ;
}

.container2{
    position: relative;
    margin-left: 20%;
    width: 100%;
    margin-top: 2%;
}


.c-nav2{
    border: 1px solid lightgrey;
    color: white;
    background-color: black;
    opacity: 75%;
    width: 60%;
}

.c-nav1{
    background-color: white;
    width:40%;
    height: 10%;
    margin-left: 15%;
    padding-bottom: 10px;
}

.password{
    margin-top: 50px;
    margin-left: 350px;
}

.login-button{
    margin-left: 350px;
    background-color: gray;
    color: white;
    width: 30%;
}

